<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="de.euhm.jlt" >

	<!-- needed to re-register the alarms after reboot -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!-- needed to write database backup files,
	     since Android 11 (API 30) MANAGE_EXTERNAL_STORAGE is needed -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<!-- needed to set exact alarms -->
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher_color"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:name=".CustomApplication"
		tools:ignore="GoogleAppIndexingWarning" >
		<activity
			android:name=".MainActivity"
			android:label="@string/title_activity_main"
			android:exported="true" >

			<!--
            android:launchMode="singleTop"
            ActionBar 'up' button destroys parent activity, 'back' does not
            use: android:launchMode="singleTop"
            Reference : http://developer.android.com/guide/topics/manifest/activity-element.html
            -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="${packageName}.RECREATE" />
				<action android:name="${packageName}.UPDATE_VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<receiver android:name=".MainWidgetProvider"
			android:label="@string/app_name"
			android:exported="true" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>

		<receiver android:name=".receivers.StartStopReceiver"
			android:exported="false" >
			<intent-filter>
				<action android:name="${packageName}.START_STOP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>

		<receiver android:name=".receivers.AlarmReceiver"
			android:exported="false" >
			<intent-filter>
				<action android:name="${packageName}.NORMAL_WORK_ALARM" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>

		<receiver android:name=".receivers.PowerStateChangedReceiver"
			android:exported="true" >
			<intent-filter>
				<action android:name="android.intent.action.BATTERY_LOW"/>
				<action android:name="android.intent.action.BATTERY_OKAY"/>
			</intent-filter>
		</receiver>

		<receiver android:name=".receivers.OnBootReceiver"
			android:exported="true" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
    </application>
</manifest>